[Desktop Entry]
Name=Vkav
GenericName=Audio Visualiser
Comment=An audio visualiser
Keywords=audio visualiser
Exec=vkav
Icon=vkav
Terminal=false
Type=Application
Categories=Audio;Video;AudioVideo;DataVisualization
